In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data_path = '/content/drive/MyDrive/Data Science/Project 4/Project 4 Team 3/data/'
df = pd.read_csv(data_path + 'data_new_features.csv')

In [3]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance,Description,...,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Duration,Weather_Condition_Simple
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.09286,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,False,Night,0 days 06:00:00,Rain
1,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172394,-84.49279,39.170475,-84.501800,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,False,Day,0 days 06:00:00,Rain
2,A-432,2,2016-02-24 10:20:40,2016-02-24 16:20:40,41.475800,-81.66036,41.483380,-81.662810,0.539,At I-490/Exit 161 - Accident.,...,False,False,False,False,False,False,False,Day,0 days 06:00:00,Rain
3,A-435,2,2016-02-24 10:49:54,2016-02-24 16:49:54,41.964290,-83.35018,41.964290,-83.350180,0.000,At Nadeau Rd/Exit 18 - Accident.,...,False,False,False,False,False,False,False,Day,0 days 06:00:00,Rain
4,A-436,2,2016-02-24 11:14:18,2016-02-24 17:14:18,41.282993,-83.63893,41.283092,-83.638885,0.007,At Cygnet Rd/Exit 171 - Accident.,...,False,False,False,False,False,False,False,Day,0 days 06:00:00,Rain

In [4]:
df_sev1 = df[df['Severity'] == 1]
df_sev2 = df[df['Severity'] == 2]
df_sev3 = df[df['Severity'] == 3]
df_sev4 = df[df['Severity'] == 4]

#Investigating object-type columns

In [ ]:
object_cols = df.select_dtypes(include=['object']).columns
object_cols

Index(['ID', 'Start_Time', 'End_Time', 'Description', 'Street', 'Side', 'City',
       'County', 'State', 'Zipcode', 'Country', 'Timezone', 'Airport_Code',
       'Weather_Timestamp', 'Wind_Direction', 'Weather_Condition',
       'Sunrise_Sunset', 'Duration', 'Weather_Condition_Simple'],
      dtype='object')

In [ ]:
for col in object_cols:
  print(col)
  print(df[col].value_counts())
  print('\n')

ID
A-1          1
A-1234815    1
A-1234840    1
A-1234839    1
A-1234837    1
            ..
A-2318348    1
A-2318347    1
A-2318346    1
A-2318345    1
A-2812588    1
Name: ID, Length: 2207325, dtype: int64


Start_Time
2021-01-26 16:16:13    252
2021-01-26 16:17:33    170
2021-02-16 06:42:43    146
2021-05-03 06:29:42    111
2021-11-21 18:37:51    102
                      ...
2021-06-03 01:24:43      1
2021-06-26 17:25:13      1
2021-09-21 22:10:30      1
2021-10-25 13:10:00      1
2019-06-28 17:27:26      1
Name: Start_Time, Length: 1345302, dtype: int64


End_Time
2021-11-22 08:00:00    106
2019-10-26 09:14:51     47
2021-02-13 16:45:00     46
2020-02-14 00:00:00     46
2021-12-26 16:45:00     44
                      ...
2021-06-09 18:36:35      1
2021-06-18 17:32:51      1
2021-07-30 10:11:13      1
2021-07-22 17:45:47      1
2019-06-28 17:56:02      1
Name: End_Time, Length: 1740064, dtype: int64


Description
A crash has occurred causing no to minimum delays. Use caution.                                                                            7674
A crash has occurred use caution.                                                                                                          2473
An unconfirmed report of a crash has been received. Use caution.                                                                           2204
Hazardous debris is causing no to minimum delays. Use caution.                                                                             2022
A disabled vehicle is creating a hazard causing no to minimum delays. Use caution.                                                         1829
                                                                                                                                           ...
Incident on MOUNTAIN VIEW RD near MASSEY RD Expect delays.                                                                                    1
Incident on SW 168TH ST near HOUSE 10230 Drive with caution.                                                                                  1
ConnDOT: Crash (2 Vehicle) on I-91 Southbound between Exits 24 and 23. The left shoulder is closed. Reported Friday July 23 at 4:46 pm.       1
Incident on US-30 EB near COUNTY HWY-S14 Road closed. Take alternate route.                                                                   1
Incident on IN-265 EB near PORT RD Left lane blocked.                                                                                         1
Name: Description, Length: 981562, dtype: int64


Street
I-5 N              29025
I-95 N             28571
I-95 S             27579
I-5 S              25294
I-10 E             18275
                   ...
 Calle Hermosa         1
 N San Pedro St        1
 Walnut St S           1
 Norwick St            1
 Aaron Dr              1
Name: Street, Length: 142720, dtype: int64


Side
R    1791597
L     415728
Name: Side, dtype: int64


City
Miami                  97723
Los Angeles            56471
Orlando                49691
Dallas                 33052
Houston                28385
                       ...
Ebony                      1
New Durham                 1
Luke Air Force Base        1
Belgium                    1
Wenonah                    1
Name: City, Length: 9723, dtype: int64


County
Los Angeles            163524
Miami-Dade             132288
Orange                  98805
San Bernardino          44840
San Diego               38620
                        ...
Young                       1
Wyandot                     1
Virginia Beach City         1
Sequoyah                    1
Dawes                       1
Name: County, Length: 1541, dtype: int64


State
CA    604477
FL    350204
TX    108714
OR     98754
VA     92191
PA     87882
MN     84652
NY     84591
SC     81962
NC     73930
TN     45813
LA     43587
MD     42112
AZ     40965
NJ     39284
UT     33977
MI     30805
IL     23706
CT     23125
GA     22978
WA     20084
MO     19100
AL     16917
CO     16189
MT     14503
IN     12313
OH     11355
AR      9591
DC      8006
IA      7380
OK      6911
ID      6889
WV      5971
KS      5956
MS      3941
DE      3857
MA      3787
KY      3569
NV      3451
WI      2449
NE      2306
RI      2124
NH      1687
ND      1672
NM      1618
ME       964
WY       658
VT       214
SD       154
Name: State, dtype: int64


Zipcode
91761         5400
33186         4924
92407         3983
92507         3933
91706         3546
              ...
10524-3633       1
95835-1646       1
85742-9615       1
37211-5993       1
13367-3627       1
Name: Zipcode, Length: 314545, dtype: int64


Country
US    2207325
Name: Country, dtype: int64


Timezone
US/Eastern     980847
US/Pacific     734790
US/Central     374368
US/Mountain    117320
Name: Timezone, dtype: int64


Airport_Code
KCQT    43009
KMIA    41957
KOPF    35264
KORL    34843
KTMB    34142
        ...
KDYS        1
KGLY        1
KJKA        1
KAVK        1
KCAR        1
Name: Airport_Code, Length: 1797, dtype: int64


Weather_Timestamp
2021-12-17 14:53:00    638
2021-12-23 14:53:00    629
2021-01-26 15:53:00    598
2021-12-06 16:53:00    595
2021-12-03 16:53:00    592
                      ...
2020-01-11 17:47:00      1
2020-01-11 11:47:00      1
2020-01-11 23:51:00      1
2020-01-11 22:26:00      1
2019-06-28 17:28:00      1
Name: Weather_Timestamp, Length: 299950, dtype: int64


Wind_Direction
CALM        408032
S           163900
W           158931
E           119700
N           119291
WNW         115609
NW          113674
SSW         107042
VAR         101032
WSW         100606
SW          100580
SSE          99911
NNW          99872
SE           87676
ESE          83320
ENE          78210
NE           72642
NNE          69145
North         2617
West          1830
South         1597
East          1588
Variable       520
Name: Wind_Direction, dtype: int64


Weather_Condition
Fair                              1042415
Cloudy                             334793
Mostly Cloudy                      285317
Partly Cloudy                      195367
Light Rain                         106754
                                   ...
Heavy Freezing Rain                     1
Heavy Freezing Drizzle                  1
Heavy Rain Shower / Windy               1
Sand / Dust Whirlwinds / Windy          1
Thunder and Hail / Windy                1
Name: Weather_Condition, Length: 114, dtype: int64


Sunrise_Sunset
Day      1374753
Night     832572
Name: Sunrise_Sunset, dtype: int64


Duration
0 days 00:15:00    34556
0 days 04:00:00    34071
0 days 00:30:00    30303
0 days 01:00:00    26524
0 days 01:15:00    24681
                   ...
0 days 10:46:31        1
3 days 00:59:37        1
0 days 09:35:27        1
1 days 02:25:55        1
0 days 17:50:20        1
Name: Duration, Length: 68729, dtype: int64


Weather_Condition_Simple
Fair           1057988
Cloudy          836078
Rain            183667
Obstruction      75012
Freeze           54580
Name: Weather_Condition_Simple, dtype: int64

#Creating bool columns for presence of key words in description

In [5]:
def find_keyword(keyword):
  found = df[df['Description'].str.lower().str.contains(keyword)]
  print('Number of df rows containing', keyword, 'in description: ', len(found))
  print('Percentage:', found.shape[0] / df.shape[0])
  found_sev1 = found[found['Severity'] == 1]
  print('Number of df sev1 rows containing', keyword, 'in description: ', len(found_sev1))
  print('Percentage:', found_sev1.shape[0] / df_sev1.shape[0])
  found_sev2 = found[found['Severity'] == 2]
  print('Number of df sev2 rows containing', keyword, 'in description: ', len(found_sev2))
  print('Percentage:', found_sev2.shape[0] / df_sev2.shape[0])
  found_sev3 = found[found['Severity'] == 3]
  print('Number of df  rows containing', keyword, 'in description: ', len(found_sev3))
  print('Percentage:', found_sev3.shape[0] / df_sev3.shape[0])
  found_sev4 = found[found['Severity'] == 4]
  print('Number of df rows containing', keyword, 'in description: ', len(found_sev4))
  print('Percentage:', found_sev4.shape[0] / df_sev4.shape[0])

In [6]:
find_keyword('close')

Number of df rows containing close in description:  170011
Percentage: 0.07702128141528773
Number of df sev1 rows containing close in description:  1207
Percentage: 0.051239599252844284
Number of df sev2 rows containing close in description:  111336
Percentage: 0.054123451988867685
Number of df  rows containing close in description:  1073
Percentage: 0.016612993125658018
Number of df rows containing close in description:  56395
Percentage: 0.908044311338679

In [7]:
find_keyword('block')

Number of df rows containing block in description:  152030
Percentage: 0.06887522227130123
Number of df sev1 rows containing block in description:  6314
Percentage: 0.2680421124129733
Number of df sev2 rows containing block in description:  118468
Percentage: 0.057590510798099244
Number of df  rows containing block in description:  24156
Percentage: 0.37400136248219484
Number of df rows containing block in description:  3092
Percentage: 0.04978584999838985

In [8]:
find_keyword('construction')

Number of df rows containing construction in description:  9188
Percentage: 0.0041625043887963935
Number of df sev1 rows containing construction in description:  0
Percentage: 0.0
Number of df sev2 rows containing construction in description:  7776
Percentage: 0.0037801246916130916
Number of df  rows containing construction in description:  145
Percentage: 0.0022449990710348674
Number of df rows containing construction in description:  1267
Percentage: 0.020400605416545904

In [9]:
find_keyword('accident')

Number of df rows containing accident in description:  1233090
Percentage: 0.5586354524141212
Number of df sev1 rows containing accident in description:  23467
Percentage: 0.9962217694005774
Number of df sev2 rows containing accident in description:  1107053
Percentage: 0.5381685159753533
Number of df  rows containing accident in description:  63650
Percentage: 0.9854771784232366
Number of df rows containing accident in description:  38920
Percentage: 0.626670531027598

In [10]:
find_keyword('traffic')

Number of df rows containing traffic in description:  642842
Percentage: 0.2912312414347683
Number of df sev1 rows containing traffic in description:  1
Percentage: 4.2452029206996094e-05
Number of df sev2 rows containing traffic in description:  640084
Percentage: 0.3111622084756268
Number of df  rows containing traffic in description:  1250
Percentage: 0.019353440267541957
Number of df rows containing traffic in description:  1507
Percentage: 0.02426496634785689

In [11]:
df_sev3['Description'].values

array(['Between Sawmill Rd/Exit 20 and OH-315/Olentangy Riv Rd/Exit 22 - Accident.',
       'At Mitchell Ave/Exit 6 - Accident.',
       'Between West Blvd/98th St/Exit 167 and 41st St/Exit 169 - Accident.',
       ...,
       'At CR-508/Newark-Jersey City Tpke/Harrison Ave/Exit 17 - Accident. Overturned vehicle.',
       'At WI-95/Exit 105 - Accident involving heavy truck. Lane blocked.',
       'At Cypresswood Dr/Exit 68 - Accident. Two lanes blocked.'],
      dtype=object)

In [12]:
#make bool columns for if each term is present for that row's description
df['Desc_Close'] = df['Description'].str.lower().str.contains('close')
df['Desc_Block'] = df['Description'].str.lower().str.contains('block')
df['Desc_Construction'] = df['Description'].str.lower().str.contains('construction')
df['Desc_Accident'] = df['Description'].str.lower().str.contains('accident')
df['Desc_Traffic'] = df['Description'].str.lower().str.contains('traffic')

In [13]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance,Description,...,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Duration,Weather_Condition_Simple,Desc_Close,Desc_Block,Desc_Construction,Desc_Accident,Desc_Traffic
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.09286,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,Night,0 days 06:00:00,Rain,False,False,False,True,False
1,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172394,-84.49279,39.170475,-84.501800,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,Day,0 days 06:00:00,Rain,False,False,False,True,False
2,A-432,2,2016-02-24 10:20:40,2016-02-24 16:20:40,41.475800,-81.66036,41.483380,-81.662810,0.539,At I-490/Exit 161 - Accident.,...,False,False,Day,0 days 06:00:00,Rain,False,False,False,True,False
3,A-435,2,2016-02-24 10:49:54,2016-02-24 16:49:54,41.964290,-83.35018,41.964290,-83.350180,0.000,At Nadeau Rd/Exit 18 - Accident.,...,False,False,Day,0 days 06:00:00,Rain,False,False,False,True,False
4,A-436,2,2016-02-24 11:14:18,2016-02-24 17:14:18,41.282993,-83.63893,41.283092,-83.638885,0.007,At Cygnet Rd/Exit 171 - Accident.,...,False,False,Day,0 days 06:00:00,Rain,False,False,False,True,False

#Label encoding - columns with only two options
- Side
- Sunrise_Sunset

In [14]:
from sklearn.preprocessing import LabelEncoder
le_side = LabelEncoder()
le_sun = LabelEncoder()
side_transform = le_side.fit_transform(df['Side'])
sun_transform = le_sun.fit_transform(df['Sunrise_Sunset'])
label_map_side = dict(zip(df['Side'], side_transform)) # get the mapping between the original labels and encoded labels
label_map_sun = dict(zip(df['Sunrise_Sunset'], sun_transform)) # get the mapping between the original labels and encoded labels
print(label_map_side)
print(label_map_sun)
df['Side'] = side_transform
df['Sunrise_Sunset'] = sun_transform

{'R': 1, 'L': 0}
{'Night': 1, 'Day': 0}

#Dummy variables
- State
- Timezone 
- Wind_Direction 
- Weather_Condition_Simple

In [15]:
#print(df['Wind_Direction'].unique())
#df.loc[df['Wind_Direction'] == 'East', df['Wind_Direction']] = 'E'
#df.loc[df['Wind_Direction'] == 'North', df['Wind_Direction']] = 'N'
#df.loc[df['Wind_Direction'] == 'West', df['Wind_Direction']] = 'W'
#df.loc[df['Wind_Direction'] == 'South', df['Wind_Direction']] = 'S'
#df.loc[df['Wind_Direction'] == 'Variable', df['Wind_Direction']] = 'VAR'

#running this crashes it

In [16]:
df['Wind_Direction_W'] = df['Wind_Direction'].str.lower().str.contains('|'.join(['W', 'West']))
df['Wind_Direction_E'] = df['Wind_Direction'].str.lower().str.contains('|'.join(['E', 'East']))
df['Wind_Direction_N'] = df['Wind_Direction'].str.lower().str.contains('|'.join(['N', 'North']))
df['Wind_Direction_S'] = df['Wind_Direction'].str.lower().str.contains('|'.join(['S', 'South']))
df['Wind_Direction_VAR'] = df['Wind_Direction'].str.lower().str.contains('|'.join(['VAR', 'Variable']))

In [17]:
#drop Wind_Direction after getting rest of bool cols
df['Wind_Direction_CALM'] = df['Wind_Direction'] == 'CALM'
df['Wind_Direction_SW'] = df['Wind_Direction'] == 'SW'
df['Wind_Direction_WSW'] = df['Wind_Direction'] == 'WSW'
df['Wind_Direction_NNE'] = df['Wind_Direction'] == 'NNE'
df['Wind_Direction_NE'] = df['Wind_Direction'] == 'NE'
df['Wind_Direction_ENE'] = df['Wind_Direction'] == 'ENE'
df['Wind_Direction_SE'] = df['Wind_Direction'] == 'SE'
df['Wind_Direction_NNW'] = df['Wind_Direction'] == 'NNW'
df['Wind_Direction_NW'] = df['Wind_Direction'] == 'NW'
df['Wind_Direction_SSE'] = df['Wind_Direction'] == 'SSE'
df['Wind_Direction_ESE'] = df['Wind_Direction'] == 'ESE'
df['Wind_Direction_WNW'] = df['Wind_Direction'] == 'WNW'
df['Wind_Direction_SSW'] = df['Wind_Direction'] == 'SSW'
df.drop('Wind_Direction', axis=1, inplace=True)

In [18]:
cols_to_encode = ['State', 'Timezone', 'Weather_Condition_Simple']
df = pd.get_dummies(data=df, columns=cols_to_encode)

In [19]:
df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance', 'Description',
       ...
       'State_WY', 'Timezone_US/Central', 'Timezone_US/Eastern',
       'Timezone_US/Mountain', 'Timezone_US/Pacific',
       'Weather_Condition_Simple_Cloudy', 'Weather_Condition_Simple_Fair',
       'Weather_Condition_Simple_Freeze',
       'Weather_Condition_Simple_Obstruction',
       'Weather_Condition_Simple_Rain'],
      dtype='object', length=122)

#Date and time related columns
- Creating Duration_Minutes
- Extracting features from Start_Time and End_Time into new columns

In [29]:
df['Start_Time'] = pd.to_datetime(df['Start_Time'])
df['End_Time'] = pd.to_datetime(df['End_Time'])

In [30]:
duration_in_datetime = df['End_Time'] - df['Start_Time']

In [31]:
duration_in_datetime.dt.components[['days', 'hours', 'minutes', 'seconds']]

         days  hours  minutes  seconds
0           0      6        0        0
1           0      6        0        0
2           0      6        0        0
3           0      6        0        0
4           0      6        0        0
...       ...    ...      ...      ...
2207320     0      6        0        0
2207321     0      0       29        5
2207322     0      0       29       56
2207323     0      0       29       21
2207324     0      0       28       36

[2207325 rows x 4 columns]

In [32]:
df['Duration_Minutes'] = duration_in_datetime.dt.components['days']*24*60 + duration_in_datetime.dt.components['hours']*60 + duration_in_datetime.dt.components['minutes']
df['Duration_Minutes'].head()

0    360
1    360
2    360
3    360
4    360
Name: Duration_Minutes, dtype: int64

In [33]:
df['Start_Time_Year'] = df['Start_Time'].apply(lambda time: time.year)
df['Start_Time_Month'] = df['Start_Time'].apply(lambda time: time.month)
df['Start_Time_Day'] = df['Start_Time'].apply(lambda time: time.day)
df['Start_Time_Hour'] = df['Start_Time'].apply(lambda time: time.hour)
df['Start_Time_Minute'] = df['Start_Time'].apply(lambda time: time.minute)

df['End_Time_Year'] = df['End_Time'].apply(lambda time: time.year)
df['End_Time_Month'] = df['End_Time'].apply(lambda time: time.month)
df['End_Time_Day'] = df['End_Time'].apply(lambda time: time.day)
df['End_Time_Hour'] = df['End_Time'].apply(lambda time: time.hour)
df['End_Time_Minute'] = df['End_Time'].apply(lambda time: time.minute)

In [34]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance,Description,...,Start_Time_Year,Start_Time_Month,Start_Time_Day,Start_Time_Hour,Start_Time_Minute,End_Time_Year,End_Time_Month,End_Time_Day,End_Time_Hour,End_Time_Minute
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.09286,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,2016,2,8,0,37,2016,2,8,6,37
1,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172394,-84.49279,39.170475,-84.501800,0.500,At Mitchell Ave/Exit 6 - Accident.,...,2016,2,8,7,53,2016,2,8,13,53
2,A-432,2,2016-02-24 10:20:40,2016-02-24 16:20:40,41.475800,-81.66036,41.483380,-81.662810,0.539,At I-490/Exit 161 - Accident.,...,2016,2,24,10,20,2016,2,24,16,20
3,A-435,2,2016-02-24 10:49:54,2016-02-24 16:49:54,41.964290,-83.35018,41.964290,-83.350180,0.000,At Nadeau Rd/Exit 18 - Accident.,...,2016,2,24,10,49,2016,2,24,16,49
4,A-436,2,2016-02-24 11:14:18,2016-02-24 17:14:18,41.282993,-83.63893,41.283092,-83.638885,0.007,At Cygnet Rd/Exit 171 - Accident.,...,2016,2,24,11,14,2016,2,24,17,14

#Write to csv

In [35]:
df.to_csv(data_path + 'data_label_encoded.csv', index=False)